{% extends "base/header.html" %}
{% load static %}

  {% block title %}Home{% endblock %}
  {% block content %}
  <section>
    <div class="container">
      <div class="col-lg-12">
        <h1>{{noticia.titulo_noticia}} <small>{{noticia.categoria.nombre_categoria}}</small></h1>
        <p><em>Fecha publicación: {{noticia.fecha_creacion}}</em></p>
        <img src="http://placehold.it/200x200" alt="" class="img-responsive img-thumbnail pull-left img-margin-right">
        <p>{{ noticia.descripcion }}</p>
      </div>
    </div>
  </section>
  {% endblock %}